
body {
  /* fallback for old browsers */
  background: #6a11cb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #654E92, #6C9BCF);
}



#navbar{
    margin-left: 8%;
  width: 85%;
  margin-top:  30px;
background-color: #654E92;
border-top-left-radius: 20px;
border-top-right-radius: 20px;



}
#nav-middle-btn{
margin-right: 10px;
margin-left: 10px;
background-color: #654E92;
box-shadow: none;
margin-top:  3%;





}
#nav-icon{

  color: white;
}


#upload-page{ 
margin-left: 8%;
background-color: #FFFFFF;
width: 85%;
height: 87vh;
display: flex;
justify-content: center;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;

}

#file-form{
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: 8px dashed #6C9BCF;
      height: 300px;
      width: inherit  ;
      cursor: pointer;
      border-radius: 5px;


}


#input-field-icon{
  display: flex;
  justify-content: center;
  color: #6C9BCF;
font-size: 50px;



}

#input-filed-button{
margin-left: 43%;
margin-right: 43%;
background-color: #6C9BCF;
border-radius: 10px;
border: none;
height: 6vh ;
font-weight: bold;
justify-content: center;
text-align: center;
display: flex;
justify-content: center;
align-items: center; 
color: #FFFFFF;
}

#navbarDropdownMenuAvatar{
background-color: #FFFFFF;
border-radius: 80%;


}

#admin-section{
  height: 70vh;
  overflow: hidden;

}


#login-form {
  color: #FFFFFF;
  justify-content: center;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  border-radius: 15px;
}



#form-text{
align-items: center;

color: #6C9BCF;


}

#formEmail , #formPassword{
border: #19A7CE;
border-color: #19A7CE;
}


#list-page{ 
background-color: #FFFFFF;
width: inherit;
height: 87vh;
display: flex;
justify-content: center;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
margin-left: 8%;
width: 85%;


}



#list-page-select{
width: 100%;
border-radius: 20px;
color: black;
cursor: pointer;
margin-top: 20px;
font-size: 17px;
border-color: none;
height: 40px;

}


.highlighted {
  color: black;
  text-align: center;
}


#login-section{
margin-top: 15%;


}

#header {
align-items:  center;



}


.wrapper {
  text-align: center;
}

.form select{
  width: 150px;}

.form input {
  width: 600px;

  }
  .form button {
    width: 150px;
    margin-left:  10px;
    font-size: large;
    
    
  }

  #card{

    background-color: #ACB1D6;
  }

  #loginbnt{
    color: #ACB1D6;
    background-color: #FFFFFF;
  }


#update-password{


  margin-left: 8%;
  width: 85%;
  
}




#nav-icon-name{
  font-style: italic;
  font-weight: 200;
  color: #FFFFFF;
  text-align: center;


}